body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  /* Center the content vertically */
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 50%;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
